## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("../Resources/charity_data.csv")
application_df.head(10)

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
5,10556855,MINORITY ORGAN & TISSUE TRANSPLANT & EDUCATION...,T3,Independent,C1200,Preservation,Trust,1,0,N,5000,1
6,10558440,FRIENDS OF ARTS COUNCIL OF GREATER DENHAM SPRI...,T3,Independent,C1000,Preservation,Trust,1,100000-499999,N,31452,1
7,10566033,ISRAEL EMERGENCY ALLIANCE,T3,Independent,C2000,Preservation,Trust,1,10M-50M,N,7508025,1
8,10570430,ARAMCO BRATS INC,T7,Independent,C1000,ProductDev,Trust,1,1-9999,N,94389,1
9,10571689,INTERNATIONAL ASSOCIATION OF FIRE FIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df.drop(columns=["EIN", "NAME"], inplace=True)
#  YOUR CODE GOES HERE
print(application_df)

      APPLICATION_TYPE       AFFILIATION CLASSIFICATION      USE_CASE  \
0                  T10       Independent          C1000    ProductDev
1                   T3       Independent          C2000  Preservation
2                   T5  CompanySponsored          C3000    ProductDev
3                   T3  CompanySponsored          C2000  Preservation
4                   T3       Independent          C1000     Heathcare
...                ...               ...            ...           ...
34294               T4       Independent          C1000    ProductDev
34295               T4  CompanySponsored          C3000    ProductDev
34296               T3  CompanySponsored          C2000  Preservation
34297               T5       Independent          C3000    ProductDev
34298               T3       Independent          C1000  Preservation

       ORGANIZATION  STATUS     INCOME_AMT SPECIAL_CONSIDERATIONS   ASK_AMT  \
0       Association       1              0                      N      5000
1      Co-operative       1         1-9999                      N    108590
2       Association       1              0                      N      5000
3             Trust       1    10000-24999                      N      6692
4             Trust       1  100000-499999                      N    142590
...             ...     ...            ...                    ...       ...
34294   Association       1              0                      N      5000
34295   Association       1              0                      N      5000
34296   Association       1              0                      N      5000
34297   Association       1              0                      N      5000
34298  Co-operative       1          1M-5M                      N  36500179

       IS_SUCCESSFUL
0                  1
1                  1
2                  0
3                  1
4                  1
...              ...
34294              0
34295              0
34296              0
34297              1
34298              0

[34299 rows x 10 columns]

In [3]:
# Determine the number of unique values in each column.
counts = application_df.nunique()
counts

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
application_type_bins = application_df['APPLICATION_TYPE'].value_counts()
application_type_bins

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T15        2
T29        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`

application_types_to_replace =[]
cutoff_val=500
for index, val in application_type_bins.items():
    if val <= cutoff_val:
        application_types_to_replace.append(index)
        
# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning
classification_bins = application_df['CLASSIFICATION'].value_counts() 
classification_bins

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C2380        1
C1580        1
C1245        1
C1570        1
C1900        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [25]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classification_to_replace =[]
cutoff_val=500
for index, val in classification_bins.items():
    if val <= cutoff_val:
        classification_to_replace.append(index)
# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Other     1484
C7000      777
Name: CLASSIFICATION, dtype: int64

In [27]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
#  YOUR CODE GOES HERE

# Replace in dataframe
# for cls in classifications_to_replace:
#     application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# # Check to make sure binning was successful
# application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [26]:
# Convert categorical data to numeric with `pd.get_dummies`
dummies_appilcation_df = pd.get_dummies(application_df)
#  YOUR CODE GOES HERE
dummies_appilcation_df.head(10)

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0
5,1,5000,1,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
6,1,31452,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0
7,1,7508025,1,0,0,0,1,0,0,0,...,0,0,0,1,0,0,0,0,1,0
8,1,94389,1,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
9,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0

In [33]:
# Split our preprocessed data into our features and target arrays
y= dummies_appilcation_df["IS_SUCCESSFUL"].values
X = dummies_appilcation_df.drop(['IS_SUCCESSFUL'],1).values


# # Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [34]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [41]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.

num_input_features = len(X_train[0])
hidden_nodes_ly1 = 80
hidden_nodes_ly2 = 30

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_ly1, input_dim=num_input_features, activation="relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_ly2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_6"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 80)                3600

 dense_4 (Dense)             (None, 30)                2430

 dense_5 (Dense)             (None, 1)                 31

=================================================================
Total params: 6,061
Trainable params: 6,061
Non-trainable params: 0
_________________________________________________________________

In [42]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [43]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=100)

Epoch 1/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5712 - accuracy: 0.7212
Epoch 2/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5560 - accuracy: 0.7300
Epoch 3/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5525 - accuracy: 0.7309
Epoch 4/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5512 - accuracy: 0.7320
Epoch 5/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5493 - accuracy: 0.7326
Epoch 6/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5476 - accuracy: 0.7339
Epoch 7/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5482 - accuracy: 0.7328
Epoch 8/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5463 - accuracy: 0.7336
Epoch 9/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5460 - accuracy: 0.7339
Epoch 10/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5457 - accuracy: 0.7333
Epoch 11/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5456 - accuracy: 0.7344
Epoch 12/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5446 - accuracy: 0.7350
Epoch 13/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5440 - accuracy: 0.7365
Epoch 14/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5439 - accuracy: 0.7351
Epoch 15/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5439 - accuracy: 0.7360
Epoch 16/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5431 - accuracy: 0.7357
Epoch 17/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5426 - accuracy: 0.7361
Epoch 18/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5422 - accuracy: 0.7364
Epoch 19/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5416 - accuracy: 0.7365
Epoch 20/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5424 - accuracy: 0.7363
Epoch 21/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5416 - accuracy: 0.7379
Epoch 22/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5409 - accuracy: 0.7381
Epoch 23/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5410 - accuracy: 0.7376
Epoch 24/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5410 - accuracy: 0.7361
Epoch 25/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5412 - accuracy: 0.7378
Epoch 26/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5404 - accuracy: 0.7374
Epoch 27/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5403 - accuracy: 0.7364
Epoch 28/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5398 - accuracy: 0.7380
Epoch 29/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5398 - accuracy: 0.7376
Epoch 30/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5394 - accuracy: 0.7386
Epoch 31/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5395 - accuracy: 0.7386
Epoch 32/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5393 - accuracy: 0.7381
Epoch 33/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5390 - accuracy: 0.7379
Epoch 34/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5392 - accuracy: 0.7381
Epoch 35/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5386 - accuracy: 0.7391
Epoch 36/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5384 - accuracy: 0.7386
Epoch 37/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5389 - accuracy: 0.7398
Epoch 38/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5383 - accuracy: 0.7392
Epoch 39/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5383 - accuracy: 0.7383
Epoch 40/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5382 - accuracy: 0.7392
Epoch 41/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5384 - accuracy: 0.7401
Epoch 42/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5377 - accuracy: 0.7387
Epoch 43/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5377 - accuracy: 0.7398
Epoch 44/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5378 - accuracy: 0.7388
Epoch 45/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5375 - accuracy: 0.7394
Epoch 46/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5377 - accuracy: 0.7399
Epoch 47/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5374 - accuracy: 0.7387
Epoch 48/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5372 - accuracy: 0.7404
Epoch 49/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5367 - accuracy: 0.7401
Epoch 50/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5371 - accuracy: 0.7386
Epoch 51/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5376 - accuracy: 0.7399
Epoch 52/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5365 - accuracy: 0.7393
Epoch 53/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5368 - accuracy: 0.7393
Epoch 54/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5368 - accuracy: 0.7396
Epoch 55/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5365 - accuracy: 0.7395
Epoch 56/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5368 - accuracy: 0.7395
Epoch 57/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5369 - accuracy: 0.7403
Epoch 58/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5367 - accuracy: 0.7403
Epoch 59/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5365 - accuracy: 0.7406
Epoch 60/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5362 - accuracy: 0.7405
Epoch 61/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5366 - accuracy: 0.7392
Epoch 62/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5363 - accuracy: 0.7412
Epoch 63/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5357 - accuracy: 0.7396
Epoch 64/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5360 - accuracy: 0.7398
Epoch 65/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5361 - accuracy: 0.7401
Epoch 66/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5358 - accuracy: 0.7402
Epoch 67/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5363 - accuracy: 0.7397
Epoch 68/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5355 - accuracy: 0.7404
Epoch 69/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5354 - accuracy: 0.7398
Epoch 70/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5354 - accuracy: 0.7411
Epoch 71/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5356 - accuracy: 0.7401
Epoch 72/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5357 - accuracy: 0.7404
Epoch 73/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5353 - accuracy: 0.7411
Epoch 74/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5350 - accuracy: 0.7408
Epoch 75/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5354 - accuracy: 0.7404
Epoch 76/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5354 - accuracy: 0.7393
Epoch 77/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5349 - accuracy: 0.7406
Epoch 78/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5350 - accuracy: 0.7407
Epoch 79/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5350 - accuracy: 0.7400
Epoch 80/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5345 - accuracy: 0.7409
Epoch 81/100

804/804 [==============================] - 1s 2ms/step - loss: 0.5348 - accuracy: 0.7415
Epoch 82/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5347 - accuracy: 0.7409
Epoch 83/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5348 - accuracy: 0.7405
Epoch 84/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5347 - accuracy: 0.7402
Epoch 85/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5345 - accuracy: 0.7399
Epoch 86/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5345 - accuracy: 0.7404
Epoch 87/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5345 - accuracy: 0.7400
Epoch 88/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5343 - accuracy: 0.7408
Epoch 89/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5346 - accuracy: 0.7402
Epoch 90/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5343 - accuracy: 0.7406
Epoch 91/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5352 - accuracy: 0.7412
Epoch 92/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5346 - accuracy: 0.7407
Epoch 93/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5343 - accuracy: 0.7398
Epoch 94/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5341 - accuracy: 0.7412
Epoch 95/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5342 - accuracy: 0.7407
Epoch 96/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5348 - accuracy: 0.7411
Epoch 97/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5341 - accuracy: 0.7419
Epoch 98/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5336 - accuracy: 0.7410: 0s
Epoch 99/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5343 - accuracy: 0.7404
Epoch 100/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5339 - accuracy: 0.7412

In [37]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

8575/8575 - 0s - loss: 0.5578 - acc: 0.7263
Loss: 0.557812534073699, Accuracy: 0.7262973785400391

In [45]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity.h5")